# Assignment No. 2 - Selma Christensen 
## 180021112
-----
### https://github.com/selmachristensen/PY4SA3_Assignment

#### Python Basics

----

**Task 1**  Create an If...Else statement that will test whether a number is divisible by three. "YOUR VALUE is divisible by 3" should be printed if the value is divisible by three. "YOUR VALUE is not divisible by three" should be printed if it is not divisible by three. Test the statement on a numeric variable. Upper case text in the print statement should be replaced with the tested number

In [7]:
x = 5

if x/3 == 0:
    print(f"{x} is divisible by 3")
else:
    print(f"{x} is not divisible by 3")

5 is not divisible by 3

----
**Task 2** Create an If...Else statement that will test whether a type of fruit, represented as a text string, is in a list of acceptable fruits (apple, orange, pear, kiwi, or strawberry). If the fruit is on the list, the following should be printed: "YOUR FRUIT is acceptable." If not, then the following should be printed: "YOUR FRUIT is not acceptable." Upper case text in the print statement should be replaced with the tested fruit.

In [13]:
fruits = ["apple", "orange", "pear", "kiwi", "strawberry"]
x = "strawberry"

if x in fruits:
    print(f"{x.upper()} is acceptable.")
else:
    print(f"{x.upper()} is not acceptable.")

STRAWBERRY is acceptable.

---
**Task 3** Create a function to calculate the distance between two coordinates using the haversine formula. Write the following formula where the input parameters are a pair of coordinates as two lists.

In [6]:
from math import radians, sin, cos, sqrt, atan2

def distance_harvestine(coordinate1, coordinate2):
    Earth_radius_in_km = 6371
    latitude1, longitude1 = map(radians, coordinate1)
    latitude2, longitude2 = map(radians, coordinate2)
    distance_latitude = latitude2 - latitude1
    distance_longitude = longitude2 - longitude1
    a = sin(distance_latitude/2)**2 + cos(latitude1) * cos(latitude2) * sin(distance_longitude/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = Earth_radius_in_km  * c
    return distance

In [8]:
coordinate1 = [55.9533, -3.1883]  # Edinburgh
coordinate2 = [56.3398, -2.7967]  # St. Andrews
distance = distance_harvestine(coordinate1, coordinate2)
print(f"The distance between Edinburgh and St Andrews is {distance:.2f} km")

The distance between Edinburgh and St Andrews is 49.35 km

---
### Pandas and NymPy

The portland_park_trees.csv file contains information about individual trees in city parks in Portland, Oregon. These data were obtained from the City of Portland Office of Parks & Recreation (https://www.portlandoregon.gov/parks/article/433143).

In [52]:
import pandas as pd
data = pd.read_csv('portland_park_trees.csv')
data.head()

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

----
**Question 1** How many trees are of the Quercus or Acer genus?

In [80]:
data = pd.read_csv('portland_park_trees.csv')

data.Genus

amount_of_quercus_or_acer = len(data[data['Genus'].isin(['Quercus', 'Acer'])])

print(amount_of_quercus_or_acer)

5675

----
**Question 2** How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [81]:
data = pd.read_csv('portland_park_trees.csv')

quercus_or_acer = (data[data['Genus'].isin(['Quercus', 'Acer'])])

DBH_large_than_50_inches = data['DBH'] > 50

quercus_or_acer_with_DBH_large_than_50_inches = data[quercus_or_acer and DBH_large_than_50_inches]

amount_of_trees=len(quercus_or_acer_with_DBH_large_than_50_inches)

print(amount_of_trees)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

---
**Question 3** Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

---
**Question 4** How many different species of trees are recorded in the Acer genus?

---
**Question 5**

1. Calculate a new column named "pop_M" (population in millions), by transforming the "pop" (population) column.
2. Remove the original "pop" column.
3. Choose/subset a city that starts with the same letter as your first name (for example,
"Mexico City" if your first name is Michael).
4. Subset the five biggest (i.e., largest population sizes) cities from the country where your
selected city is.
5. Print the result.
6. Make sure you write the scripts in different code cells where you describe the process.

---
### Python Data Visualization
Using the same dataset portland_park_trees.csv, create using seaborn, pandas or matplotlib libraries the following charts:

---
**Graph 1** Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis and tree height mapped to the y-axis (Hint: You will need to use the “Genus”, “DBH”, and “TreeHeight” attributes.).

---
**Graph 2** Create a scatterplot for just trees in the Ulmus genus with DBH mapped to the x-axis, tree height mapped to the y-axis, and tree species mapped to hue (Hint: You will need to use the “Genus”, “Genus_spec”, “DBH”, and “TreeHeight” attributes.)

---
**Graph 3** Create a boxplot of DBH for just the Ulmus genus differentiated by species (or, each species should have its own boxplot).

---
**Graph 4** Combine Graphs 1 and 3 into a single figure. Do not plot a legend for any of the graphs.

---
### Python GeoPandas

Go to the Spatial Data Portal of Scotland and find any spatial data that you find interesting in a shapefile format. Download this data and Produce code to complete the requested tasks.

---
**Task 1** Read the selected dataset as GeoPandas DataFrame

---
**Task 2** Use the correct code to plot the first 5 and the last 5 sets of records in your selected dataset.

---
**Task 3**  Create a map where you can explore the selected dataset. Try to plot the map using some categorical attribute. Include a ToolTip.

---
**Task 4** What is the Coordinate Reference System of the selected dataset?

---
**Task 5** How many features does the selected dataset contain?

---
**Task 6** Define a sub-setting criterion to create a new geopandas dataframe where you filter the selected dataset based on a categorical attribute.

---
**Task 7** Define a sub-setting criterion to create a new geopandas dataframe where you filter the selected dataset based on a numerical attribute.

---
**Task 8** Plot the new/filtered geopandas dataframe using one of the attributes to create a choropleth map.

---
### Python Rasterrio

The dataset for this part of the assignment is elev.tif a 30 m spatial resolution digital elevation model (DEM) derived from the National Elevation Dataset (NED) in Canada with elevation in meters.

---
**Task 1** Read the file as a rasterio dataset

---
**Task 2** What is the CRS of the dataset?

---
**Task 3** Describe the raster dataset regarding the raster extent (bounds), the reference system, and how many bands are in this dataset.

---
**Task 4** Create a plot/map of the raster dataset.

---
**Task 5** Create Histograms from the raster.